#banner {
    width: 100%;
    height: 700px;
    color: #000;
    background-color: tomato;
    background-image: url(1650375841000000.jpg);
    background-position: center;
    background-repeat: no-repeat;
}